<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>13.1</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>VTBAccounting</string>
    <key>DTSDKName</key>
    <string>iphoneos13.1</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Send photos to help resolve app issues</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>Cifra</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>IntercomAutoIntegratePushNotifications</key>
    <false/>
    <key>DTSDKBuild</key>
    <string>17A820</string>
    <key>CFBundleShortVersionString</key>
    <string>1.8.3</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>19A583</string>
    <key>DTPlatformBuild</key>
    <string>17A820</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>11.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>UIAppFonts</key>
    <array>
      <string>FiraSans-Bold.ttf</string>
      <string>FiraSans-Medium.ttf</string>
      <string>FiraSans-Regular.ttf</string>
      <string>FiraSans-Light.ttf</string>
      <string>Montserrat-ExtraLight.ttf</string>
      <string>Montserrat-Regular.ttf</string>
      <string>Montserrat-Medium.ttf</string>
      <string>Montserrat-Bold.ttf</string>
      <string>Rubik-Regular.ttf</string>
      <string>Rubik-Medium.ttf</string>
      <string>Montserrat-Light.ttf</string>
      <string>Rubik-Bold.ttf</string>
      <string>Rubik-Light.ttf</string>
      <string>Roboto-Regular.ttf</string>
      <string>Roboto-Bold.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>1137</string>
    <key>DTXcodeBuild</key>
    <string>11A1027</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict/>
          <key>KitName</key>
          <string>Crashlytics</string>
        </dict>
      </array>
      <key>APIKey</key>
      <string>0459756a4560df655ac13aa58777a1c6da09d5bc</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>ru.vtb.accounting</string>
    <key>DTXcode</key>
    <string>1110</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>VTBAccounting</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Для осуществления входа и подтверждения операций с помощью распознавания лица</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>11B48b</string>
  </dict>
</plist>
