CONNECT 95.213.182.234:443 HTTP/1.0
Content-Length: 0
Host: 95.213.182.234:443

A SSLv3-compatible ClientHello handshake was found. Fiddler extracted the parameters below.

Version: 3.3 (TLS/1.2)
Random: D1 FD D6 96 68 39 55 05 D0 AA 33 3E 5D BD 31 F1 B6 16 FC 42 EA 4A 75 DE 5C 99 C8 29 91 AB D5 04
"Time": 3/12/2050 6:28:01 AM
SessionID: 4F CD F7 19 03 78 B3 CB F6 2B 76 E4 8C 28 B9 70 D5 83 7D 87 F6 FA F2 15 DE A5 22 B8 53 9B 3F 66
Extensions: 
	renegotiation_info	00
	server_name	api.cifra.pw
	extended_master_secret	empty
	SessionTicket	A6 B6 7B 5D 12 E5 81 41 AD 1E 96 6A C0 51 E1 80 7E 12 A8 3A 0B 62 31 83 2F D6 26 C8 93 D0 ED 6C 33 94 CA B9 EA 26 1B 5E 24 22 F7 35 7C 0C 07 EC F8 22 47 F1 AC FB 4D D3 A9 2E 3A B9 F6 6D 8A 07 09 9C 23 27 04 A7 D6 41 5E EE D6 A3 BD D8 24 62 E4 BF 16 72 4F 66 02 90 CF 73 29 7A 66 20 CC 0B F6 B8 5D 31 BF 80 45 1E DB B7 CD 99 27 B7 95 DB B1 74 35 E1 9D 1B 76 2F
	signature_algs	rsa_pkcs1_sha512, ecdsa_secp521r1_sha512, rsa_pkcs1_sha384, ecdsa_secp384r1_sha384, rsa_pkcs1_sha256, ecdsa_secp256r1_sha256, rsa_sha224, ecdsa_sha224, rsa_pkcs1_sha1, ecdsa_sha1
	ALPN		h2, http/1.1
	ec_point_formats	uncompressed [0x0]
	supported_groups	secp256r1 [0x17], secp384r1 [0x18], secp521r1 [0x19]
	padding		191 null bytes
Ciphers: 
	[C02B]	TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
	[C02C]	TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
	[CCA9]	TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
	[C02F]	TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
	[C030]	TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
	[CCA8]	TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
	[C013]	TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
	[C014]	TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
	[009C]	TLS_RSA_WITH_AES_128_GCM_SHA256
	[009D]	TLS_RSA_WITH_AES_256_GCM_SHA384
	[002F]	TLS_RSA_WITH_AES_128_CBC_SHA
	[0035]	TLS_RSA_WITH_AES_256_CBC_SHA

Compression: 
	[00]	NO_COMPRESSION