<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>putnins@nils.digital</string>
	<key>artistId</key>
	<integer>985181257</integer>
	<key>artistName</key>
	<string>ANGRY DEVELOPERS S.R.L.</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>20981021</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>Cifra</string>
	<key>bundleShortVersionString</key>
	<string>1.8.3</string>
	<key>bundleVersion</key>
	<string>1137</string>
	<key>copyright</key>
	<string>© ООО «ЭНГРИ ДЕВЕЛОПЕРС»</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Finance</string>
	<key>genreId</key>
	<integer>6015</integer>
	<key>ipaInstallPath</key>
	<string>/var/folders/kd/zg4btr1n0kn765v9pl74nqnw0000gn/T/com.apple.configurator.xpc.InternetService/TemporaryItems/MobileApps/1460672861/03D1449A-188E-466F-8B18-2200CC551965</string>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1460672861</integer>
	<key>itemName</key>
	<string>Cifra</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>ANGRY DEVELOPERS S.R.L.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<string></string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2019-11-13T20:32:22Z</string>
	<key>s</key>
	<integer>143469</integer>
	<key>softwareIcon57x57URL</key>
	<string>https://is2-ssl.mzstatic.com/image/thumb/Purple123/v4/02/20/a7/0220a7b8-284a-47b5-1b34-b95588db0f84/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>ru.vtb.accounting</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>833337994</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>831078301</integer>
		<integer>831253986</integer>
		<integer>831422315</integer>
		<integer>831595610</integer>
		<integer>831756019</integer>
		<integer>831766529</integer>
		<integer>832079930</integer>
		<integer>832102002</integer>
		<integer>832498871</integer>
		<integer>832814645</integer>
		<integer>833002949</integer>
		<integer>833096526</integer>
		<integer>833337994</integer>
	</array>
	<key>userName</key>
	<string>putnins@nils.digital</string>
	<key>vendorId</key>
	<integer>117770419</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
