#include "Pods/Target Support Files/Pods-VTBAccounting/Pods-VTBAccounting.debug.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENTERPRISE TOUCHIN TEST WITHSSLPINNING DEBUG
DEBUG_INFORMATION_FORMAT = dwarf
VALIDATE_PRODUCT = NO
ENABLE_TESTABILITY = YES
DEVELOPMENT_TEAM = 228J5MMU7S
CODE_SIGN_IDENTITY = iPhone Distribution
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = singlefile

PRODUCT_BUNDLE_IDENTIFIER=com.touchin.vtb

CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER = VTBEnterpriseProfile
