#include "Pods/Target Support Files/Pods-VTBAccounting/Pods-VTBAccounting.release.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENTERPRISE TOUCHIN DEV WITHOUTSSLPINNING RELEASE
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
VALIDATE_PRODUCT = YES
ENABLE_TESTABILITY = NO
DEVELOPMENT_TEAM = 228J5MMU7S
CODE_SIGN_IDENTITY = iPhone Distribution
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule

PRODUCT_BUNDLE_IDENTIFIER=com.touchin.vtb

CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER = VTBEnterpriseProfile
