#include "Pods/Target Support Files/Pods-VTBAccounting/Pods-VTBAccounting.release.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = STANDARD CUSTOMER TEST WITHSSLPINNING RELEASE
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
VALIDATE_PRODUCT = YES
ENABLE_TESTABILITY = NO
DEVELOPMENT_TEAM = D4HA43V467
CODE_SIGN_IDENTITY = iPhone Developer
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule

PRODUCT_BUNDLE_IDENTIFIER=ru.touchin.vtb

CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER = VTBStandardProfile
